/*base */


html {
  width: 100%;
  background-color: #fff;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: serif;
  word-break: break-all;
  -webkit-text-size-adjust: none;
  text-decoration: none;
}

img {
  display: block;
}